<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="PanoramaAlqassiem">
    <meta name="theme-color" content="#BE894B">
    <title>الطاقم الإداري</title>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/svg" href="img/custom-logo.svg">
    <link rel="shortcut icon" sizes="192x192" href="img/custom-logo.svg">
    <link rel="apple-touch-icon" href="img/custom-logo.svg">
    <!--***************Start-Style***************-->

    <!--Main-Style-->
    <link rel="stylesheet" href="css/main.css">

      <!--En-Style-->
    <!--<link rel="stylesheet" href="/css/en-main.css">-->
    
    <!--***************End-Style***************-->
</head>

<body>
    <!-----------------------------------start-Navbar-Section----------------------------------->
    <nav class="custom-nav">
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!--Start-Media-Center-Scoial-Section-->
        <div class=" media-center" onclick="location.href='mediasection.html';">
            <span>يمكنك التبرع الان</span>
            <span> طريقك للمشاركة في الدعوة إلى الله تعالى</span>
            <i class="fas fa-arrow-left"></i>

        </div>
        <!--Start-Media Center-Scoial-Section-->
        <div class="navbar-menu">
            <a class="navbar-link" href="index.html">الرئيسية</a>
            <a href="profile.html" class="navbar-link">بروفايل</a>
            <a href="administration.html" class="active navbar-link">الطاقم الادارى</a>
            <a href="policies.html" class="navbar-link">اللوائح و السياسات</a>
            <a href="media.html" class="navbar-link">المركز الاعلامى</a>
        </div>
        <a href="index.html" class="logo">
            <img src="img/custom-logo.svg">
        </a>
    </nav>
    <!-----------------------------------End-Navbar-Section----------------------------------->
    <!-----------------------------------Start-Sticky-Scoial-Section----------------------------------->
    <div class="sticky-social">
        <ul class="social">
            <li class="call-icon"><a href="#"><i class="fas fa-phone-alt" aria-hidden="true"></i></a></li>
            <li class="map-icon"><a href="#"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></a></li>
            <li class="twitter-icon"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="youtube-icon"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <!-----------------------------------End-Sticky-Scoial-Section----------------------------------->

    <!-----------------------------------Start-adminstration-Background----------------------------------->
    <div class="adminstration-background ">
        <span>الطاقم الإداري</span>
    </div>
    <!-----------------------------------End-adminstration-Background----------------------------------->

    <!-----------------------------------Start-adminstration-box----------------------------------->
    <section class="main-section-adminstration">
        <div class="adminstration-box">
            <div class="box-title">
                <span>الهيكل التنظيمي </span>
            </div>
            <div class="box-background">
                <img src="img/staff1.jpg">
            </div>
        </div>
        <div class="adminstration-box">
            <div class="box-title">
                <span>الجمعية العمومية</span>
            </div>
            <div class="box-background">
                <img src="img/staff2.jpg">
            </div>
        </div>
        <div class="adminstration-box">
            <div class="box-title">
                <span>مجلس الإدارة</span>
            </div>
            <div class="box-background">
                <img src="img/staff3.jpg">
            </div>
        </div>
        <div class="adminstration-box">
            <div class="box-title">
                <span>اللجان</span>
            </div>
            <div class="box-background">
                <img src="img/staff4.jpg">
            </div>
        </div>
        <div class="adminstration-box">
            <div class="box-title">
                <span>الإدارة التنفيذية</span>
            </div>
            <div class="box-background">
                <img src="img/staff5.jpg">
            </div>
        </div>
    </section>
    <!-----------------------------------End-Profile-box----------------------------------->


    <!-----------------------------------Start-Footer----------------------------------->
    <footer>
        <p>جميع الحقوق محفوظة لدى بانــوراما القصيم</p>
    </footer>
    <!-----------------------------------End-Footer----------------------------------->


    <!--***************Start-Js***************-->
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/fontawosme.js"></script>
    <script src="js/jquery.min.js"></script>
    <!--Custom initializations-->
    <script src="js/main.js"></script>
    <!--***************End-Js***************-->
</body>

</html>