/******************************************Start-Footer-Section******************************************/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-graycolor;
    font-size: 13px;
    width: 100%;
    height: 40px;
    p {
        padding: 10px;
    }
}
/******************************************Start-Footer-Section******************************************/
